name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build -x test

    - name: Run Tests
      run: ./gradlew test

    - name: Build Docker Image
      run: docker build -t siwe-spring-kotlin:latest .

    - name: Stop and Remove Existing Container
      run: |
        docker stop siwe-spring-kotlin || true
        docker rm siwe-spring-kotlin || true

    - name: Run New Container
      run: |
        docker run -d \
          --name siwe-spring-kotlin \
          -p 8080:8080 \
          --restart unless-stopped \
          siwe-spring-kotlin:latest
